
html, body {
    width: 200px;
}

.hidden {
    display: none;
}

.button {
    margin: 2px auto;
    padding: 2px;
    text-align: left;
    font-size: 11pt;
    cursor: pointer;
    background-color: #E5F2F2;
}

.button:hover {
    background-color: #CFF2F2;
}

