{% extends "layout.jinja2" %}


{% block toolbox %}
  {% include "link_tb.jinja2" %}
{% endblock %}

{% block content %}
  <div class="card">
    {% for win_id, window in windows.items() %}
      <b>Window:</b> {{ win_id }} ({{ window.count }} tabs)
      <b>Devices:</b>
      {% for device in window.devices %}
        {{ device }}
        <a href=# class="window-close" data-win-id="{{ win_id }}" data-dev-id="{{ device }}">[close]</a>
        <a href=# class="selected-close" data-win-id="{{ win_id }}" data-dev-id="{{ device }}">[close selected]</a>
        {% if not loop.last %}, {% endif %} 
      {% endfor %}
      <table>
        <tr>
          {% for name in columns %}
            <td class="colname">{{ name }}</td>
          {% endfor %}
        </tr>
        {% for link in window.links %}
          <tr>
            <td class="select">
              <input type="checkbox" name="link" value="{{ link.id }}" data-link-id="{{ win_id }}">
            </td>
            <td class="time">
              {{ link.time }}
            </td>
            <td class="duration">
              {{ link.duration }}
            </td>
            <td class="title">
              <a href=# class="title" data-link-id="{{ link.id }}" title="{{ link.title }}">
                {{ link.title }}
              </a>
            </td>
            <td class="url">
              <a href={{ link.url }} class="url" data-link-id="{{ link.id }}" title="{{ link.url }}">
                {{ link.url }}
              </a>
            </td>
            <td class="tags">
              {% if not link.tags %}
                Not Stored
              {% else %}
                <a href=# class="tags" data-link-id="{{ link.id }}">
                  {{ link.tags }}
                </a>
              {% endif %}
            </td>
          </tr>
        <tr><td colspan=6>
            <div class="desc" id="{{ link.id }}" style="display:none"
                 data-showing="none"></div>
        </td></tr>
      {% endfor %}
      </table>
    {% endfor %}
  </div>
{% endblock %}
