{% extends "layout.jinja2" %}

{% block content %}
  <div class="card">
    <h1 class="site-title">{{ title }}</h1>
    <p class="subtitle">link database management index</p>
    <ul>
      <li>
        <a href="/dashapp/" class="link">timeline graph</a>
      </li>
    </ul>
  </div>
{% endblock %}
