<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}" />
    <title>smorgasbord: {{ title }}</title>
  </head>

  <body class="{{template}}">
    <div id="heading">
      <div class="heading-block">
        <h1>smorgasbord</h1>
      </div>
      <div class="heading-block">
        <a href="/dashapp/" class="link">timeline graph</a>
        <a href="/recent/" class="link">recent visits</a>
        <a href="/active/" class="link">active windows</a>
        <h4>{{ subtitle }}</h4>
      </div>
      <div class="heading-block">
        {% block toolbox %}{% endblock %}
      </div>
    </div>
    <div id="container">
      {% block content %}{% endblock %}
    </div>
    <script type=text/javascript src="{{ url_for('static', filename='dist/js/jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='dist/js/main.js') }}"></script>
  </body>

</html>
